/* Author Archives
/* ---------------------------------------------------------- */

@import "./globals.scss";

.author-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4vw;
}

.author-header h1 {
    margin: 0 0 1rem 0;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px var(--brand-secondary);
}

.author-header-content {
    width: 100%;
}

.author-header-container {
    display: grid;
    grid-template: repeat(3, 344px) / repeat(2, 1fr);
    grid-template-areas:    "bio bio"
                            "photo contact"
                            "photo rock";
    gap: 42px;
    margin-top: 45px;
}

.box {
    border: 3px dotted var(--brand-secondary);
    background-color: transparent;
    transition: all 150ms;
    &:hover {
        border: 3px solid var(--brand-secondary);
        box-shadow: 0 10px 10px var(--brand-secondary-shadow),
                    inset 0 10px 10px var(--brand-secondary-shadow);
    }
}

.author-header-bio {
    display: flex;
    align-items: center;
    grid-area: bio;
    p {
        margin: 0;
        text-align: center;
        font-size: 3.4rem;
        font-weight: var(--font-heavy);
        line-height: 1.3em;
        color: var(--brand-secondary);
    }
}

.author-header-photo {
    grid-area: photo;
    background-image: url('https://i.imgur.com/63dDnfm.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.author-header-contact {
    display: flex;
    align-items: center;
    grid-area: contact;
    padding: 4%;
    h1 {
        margin-bottom: 28px;
        -webkit-text-stroke: transparent;
        color: var(--brand-secondary);
    }
    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: var(--font-heavy);
        color: var(--brand-secondary);
    }
}

.author-header-contact-container a:hover {
    color: var(--brand-secondary);
    text-decoration: underline;
}

.author-header-rock {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: rock;
    h2 {
        font-size: 48px;
    }
}

.author-header-image {
    flex: 0 0 auto;
    margin: 0 0 0 4vw;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    overflow: hidden;
}

.author-header-meta {
    display: flex;
    margin: 1rem 0 0 0;
}

.author-header-item {
    display: block;
    padding: 2px 10px;
}

.author-header-item:first-child {
    padding-left: 0;
}

@media (max-width: 843px) {
    .author-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .author-header p {
        font-size: 2.5rem;
    }
    .author-header-image {
        height: 80px;
        width: 80px;
    }
    .author-header-container {
        grid-template: repeat(5, 344px)/repeat(1, 1fr);
        grid-template-areas:
            "bio bio"
            "photo photo"
            "photo photo"
            "contact contact"
            "rock rock";
    }
}
