/* Header
/* ---------------------------------------------------------- */

@import "./globals.scss";

.site-head {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--brand-primary);
    background-position: center;
    background-size: cover;
}

.site-nav-item {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    opacity: 0.7;
}

.site-nav-item:hover {
    text-decoration: none;
    opacity: 1;
}

.site-nav-icon {
    width: 15px;
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
    height: 50px;
}

.site-mast {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-mast-left {
    width: 50%;
    border-bottom: 13px solid var(--brand-secondary);
}

.site-header-brand {
    display: flex;
}

@media (max-width: 960px) {
    .site-header-brand {
        display: block;
    }
}

.site-header-brand h1 {
    margin: 0 44px 0 0;
    font-size: 22px;
    font-weight: var(--font-heavy);
}

.site-header-brand p {
    margin: 0;
    font-weight: var(--font-medium);
}

@media (max-width:550px) {
    .site-header-brand p {
        display: none;
    }
}

.site-mast-right {
    display: flex;
    align-items: center;
}

.site-mast-right .site-nav-item:last-child {
    padding-right: 0;
}

.site-banner {
    max-width: 80%;
    margin: 0 auto;
    padding: 10vw 0;
    text-align: center;
}

.site-banner-title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 4rem;
    line-height: 1.3em;
}

.site-banner-desc {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 2.4rem;
    line-height: 1.3em;
    opacity: 0.7;
}

.site-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 0 0;
}

.site-nav-left {
    margin: 0 20px 0 -10px;
}

.site-nav-left a {
    font-weight: var(--font-heavy);
    margin-right: 25px;
    color: var(--brand-secondary);
}

.site-nav-button {
    display: inline-block;
    padding: 5px 10px;
    color: var(--brand-secondary);
    font-size: 1.3rem;
    font-weight: var(--font-heavy);
    line-height: 1em;
    border-radius: var(--radius);
    opacity: 0.7;
}

.site-nav-button:hover {
    text-decoration: none;
}

.dark-mode {
    position: relative;
    right: -18%;
}

@media screen and (max-width: 680px) {
    .dark-mode {
        right: -12%;
    }
}

@media (max-width: 500px) {
    .dark-mode {
        right: -8%;
    }
}

.checkbox {
    display: none;
}
.checkbox:checked ~ .switch:before {
    transform: translatey(-30px);
    opacity: 0;
}
.checkbox:checked ~ .switch:after {
    transform: translatey(0px);
    opacity: 1;
}
.switch {
    height: 26px;
    display: block;
    // border: 1px solid var(--brand-secondary);
    width: 79px;
    padding: 4px;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
}
.switch::before {
    content: "Light";
    display: block;
    /* width: 20px; */
    /* height: 20px; */
    padding-right: 2px;
    /* background: chocolate; */
    border-radius: 50%;
    transform: translatey(-4px);
    transition: 0.3s;
    will-change: transform;
    position: relative;
    color: var(--brand-secondary);
    font-size: 15px;

}

.switch::after {
    content: "Dark";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    padding-right: 2px;
    transform: translatey(30px);
    transition: 0.3s;
    will-change: transform;
    font-size: 15px;
    color: var(--brand-secondary);
    opacity: 0;
}