

/* Tag Archives
/* ---------------------------------------------------------- */

.tag-header {
    max-width: 690px;
    margin: 0 0 4vw;
}

.tag-header h1 {
    margin: 0 0 1rem 0;
    font-size: 60px;
    font-weight: var(--font-heavy);
    color: transparent;
    -webkit-text-stroke: 1px var(--theme-dark);
}

.tag-header p {
    margin: 0;
    color: var(--color-secondary);
    font-size: 2.2rem;
    line-height: 1.3em;
}

@media (max-width: 500px) {
    .tag-header {
        border-bottom: var(--color-bg) 1px solid;
        padding-bottom: 4vw;
    }
    .tag-header p {
        font-size: 1.7rem;
    }
}